*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(34,31,46);
    background: -moz-linear-gradient(132deg, rgba(34,31,46,1) 41%, rgba(46,43,63,1) 100%);
    background: -webkit-linear-gradient(132deg, rgba(34,31,46,1) 41%, rgba(46,43,63,1) 100%);
    background: linear-gradient(132deg, rgba(34,31,46,1) 41%, rgba(46,43,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221f2e",endColorstr="#2e2b3f",GradientType=1);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    /*colors*/
    --text-white: #bebebe;
    --text-gray: #7a7788;
    --zabota-orange: #ff8562;
    --gray: #2e2b3f;
    --dark-gray: #221f2e;
    --violet: #7961f1;
    --light--blue: #ef7ec6;


    /*fonts*/
    --fsz-menu: 14px;
    --lh--menu: 18px;

    --fsz-text: 18px;
    --lh-text: 24px;

    --fsz-heading-light: 28px;
    --lh-heading-light: 32px;

    --fsz-heading: 44px;
    --lh-heading: 53px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.button{
    display: block;
    width: max-content;
    padding: 20px 30px;
    outline: 2px solid var(--violet);
    border: none;
    border-radius: 30px;
    white-space: nowrap;
    background: transparent;
    font-size: var(--fsz-text);
    line-height: 1;
    color: var(--text-white);
    transition: .3s background-color, outline ease-in-out;
    cursor: pointer;
}

.button:hover,
.button:focus-visible{
    border: none;
    background-color: var(--zabota-orange);
    outline: none;
}

.button:active{
    transition: none;
    background-color: var(--violet);
}

.section__heading{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: var(--fsz-heading);
    line-height: 1;
    font-weight: 700;
    color: var(--text-white);
}

.description{
    font-size: var(--fsz-text);
    line-height: var(--lh-text);
    font-weight: normal;
    color: var(--text-gray);
}

/* .scroll__wrapper{
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.scroll__section{
    scroll-snap-align: center;
} */