/*==================================header===================================*/
.header{
    margin-bottom: 50px;
    border-radius: 30px;
    background: var(--gray);
    box-shadow: 0 0 50px 1px var(--gray);
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/*------------------burger---------------------*/

.header__burger{
    position: relative;
    display: none;
    flex: 0 0 30px;
    padding: 10px 10px;
    border: none;
    outline: none;
    background: transparent;
    height: 30px;
    cursor: pointer;
}

.header__burger::before,
.header__burger::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: var(--violet);
}

.header__burger::after{
    top: 70%;
}

.header__burger:hover::after,
.header__burger:hover::before,
.header__burger:focus-visible::after,
.header__burger:focus-visible::before{
    outline: none;
    border: none;
    filter: drop-shadow(0 0 .2em var(--violet));
}

.header__burger:active{
    outline: none;
    background-color: transparent;
}

.header__burger:active::after,
.header__burger:active::before{
    outline: none;
    color: var(--zabota-orange);
}


/*-----------------header__blocks-------------*/

.header__logolink{
    display: block;
    flex: 0 1 25%;
    margin-right: 30px;
    transition: .3s filter ease-in-out;
}

.header__logolink svg{
    width: 100%;
    min-width: 220px;
}

.header__logolink:hover,
.header__logolink:focus-visible{
    outline: none;
    border: none;
    filter: drop-shadow(0 0 .2em var(--violet));
}

.header__nav{
    flex: 0 1 60%;
}

.header__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__item:not(:last-child){
    margin-right: 10px;
}

.header__link{
    font-size: var(--fsz-menu);
    line-height: 1;
    font-weight: 700;
    color: var(--text-gray);
    transition: .3s color, filter ease-in-out;
    border-radius: 10px;
}

.header__link:hover,
.header__link:focus-visible{
    outline: none;
    border: none;
    color: var(--text-white);
    filter: drop-shadow(0 0 .2em var(--violet));
}

.header__link:active{
    transition: none;
    filter: drop-shadow(0 0 .5em var(--zabota-orange));
}

.header__buttonbox{
    flex: 0 0 auto;
}


.header__button{
    font-size: var(--fsz-text);
    line-height: 1;
    color: var(--text-white);
    margin: 0;
}

/*=============================================sections====================================*/

/*==========================hero====================*/

.hero__container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: var(--gray);
    border-radius: 30px;
    box-shadow: 0 0 80px 30px var(--gray);
}

.hero__content{
    height: 800px;
    flex: 0 1 49%;
    padding: 10px 40px;
}

.hero__content--mobile{
    position: relative;
}

.hero__background{
    position: absolute;
    left: 40px;
    top: 10px;
    height: 788px;
    aspect-ratio: 1/2;
    z-index: 1;
    
}

.hero__frame{
    position: absolute;
    overflow-y: hidden;
    left: 67px;
    top: 30px;
    height: 740px;
    width: 345px;
    border-radius: 30px;
    overflow: scroll;
    background-color: var(--text-white);
    z-index: 2;
}

.hero__heading{
    margin-top: 120px;
    margin-bottom: 60px;
    font-size: var(--fsz-heading);
    line-height: var(--lh-heading);
    font-weight: normal;
    letter-spacing: .3em;
    color: var(--text-white);
}

.hero__description{
    margin-bottom: 80px;
    letter-spacing: .1em;
}

/*==============================info===============================*/

.info__text--lines{
    margin: 150px 0;
    padding: 50px 0;
    border-top: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
}

.info__cards{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    row-gap: 80px;
    column-gap: 80px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px;
    background: var(--gray);
    border-radius: 30px;
    box-shadow: 0 0 30px 1px var(--gray);
    transition: .3s transform ease-in-out;
}

.card:hover{
    transform: none;
}

.card__heading{
    margin: 0;
    padding: 0;
    font-size: var(--fsz-heading-light);
    line-height: 1;
    font-weight: normal;
    letter-spacing: .1em;
    color: var(--text-white);
}

.card__description{
    font-size: var(--fsz-menu);
}

.card__image{
    width: 60px;
}

.card--first{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    transform: rotate(2deg);
}

.card--second{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    transform:rotate(-5deg)
}
.card--third{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    transform: rotate(-8deg)
}
.card--fourth{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    transform: rotate(2deg)
}

/*===============================================slider========================================*/

.galery__slider{
    position: relative;
    margin-top: 80px;
    height: 100vh;
    width: 80%;
    overflow: hidden;
}

.galery__block{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: .7s left ease-in-out;
}

#b-1{
    background-color: rgba(255, 0, 0, 0.178);
    left: 0;    
}

#b-2{
    background-color: rgba(60, 255, 0, 0.219);
    left: 100%;
}

#b-3{
    background-color: rgba(4, 0, 255, 0.253);
    left: 200%;
}

#b-4{
    background-color: rgba(251, 255, 0, 0.199);
    left: 300%;
}

.galery__arrow{
    position: absolute;
    height: 100%;
    width: 7%;
    background-color: #000;
    opacity: .5;
    cursor: pointer;
    z-index: 2;
}

.galery__arrow--left{
    left: 0;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.galery__arrow--right{
    right: 0;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}


/*===============================================form========================================*/

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 80px ;
    width: 62%;
    background: var(--gray);
    border-radius: 50px;
    box-shadow: 0 0 80px 50px var(--gray);
    transition: .3s box-shadow ease-in-out;
}

.form:hover{
    box-shadow: none;
}

.feedback__heading{
    margin-bottom: 50px;
    text-align: center;
    font-size: var(--fsz-heading);
    line-height: 1;
    color: var(--text-gray);
    letter-spacing: 0.2em;
}

.feedback__input{
    width: 100%;
    margin-bottom: 2em;
    padding: 20px 20px;
    background: var(--dark-gray);
    color: var(--text-white);
    border: none;
    outline: none;
    border-radius: 20px;
    transition: .3s box-shadow ease-in-out;
}

.feedback__input:hover,
.feedback__input:focus-visible{
    outline: none;
    border: none;
    box-shadow: 0 0 10px 1px var(--violet);
}

.feedback__button{
    color: var(--text-white);
}

/*===============================================footer========================================*/

.footer__container{
    border-top: 3px solid var(--gray);
}

/*-----------------------------------------top-----------------------------------*/

.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link{
    margin: 30px 0;
    display: block;
    font-size: var(--fsz-heading);
    line-height: 1;
    font-weight: 700;
    color: var(--text-gray);
    transition: .3s color ease-in-out;
}

.footer__link:hover,
.footer__link:focus-visible{
    outline: none;
    color: var(--zabota-orange);
}

.footer__link:active{
    filter: drop-shadow(0 0 .3em var(--zabota-orange));
}

.footer__list{
    padding: 0;
    margin: 0;
    display: flex;
}

.footer__item{
    transition: .3s filter ease-in-out;
}

.footer__item:not(:last-child){
    margin-right: 30px;
}

.footer__social{
    display: block;
}

.footer__social svg:focus{
    outline: none;
}

.footer__social:focus-visible{
    outline: none;
}

.footer__social:active{
    filter: drop-shadow(0 0 .3em var(--zabota-orange));
}

.footer__social path{
    transition: .3s fill ease-in-out;
}

.footer__social rect{
    transition: .3s stroke ease-in-out;
}

.footer__social:hover path,
.footer__social:focus-visible path{
    fill: var(--zabota-orange);
}

.footer__social:hover rect,
.footer__social:focus-visible rect{
    stroke: var(--zabota-orange);
}

/*-----------------------------------------bottom-----------------------------------*/

.footer__bottom{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text{
    font-size: var(--fsz-text);
    line-height: var(--lh-text);
    font-weight: normal;
    color: var(--text-gray);
}